<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <style>
        body { font-family: Poppins; background:#eef2f7; display:flex; justify-content:center; align-items:center; height:100vh; }
        .box { background:white; padding:30px; width:350px; border-radius:10px; box-shadow:0 4px 15px rgba(0,0,0,.1); }
        select, input { width:100%; padding:10px; margin:10px 0; }
        button { width:100%; padding:10px; background:#2b7de9; color:white; border:none; border-radius:6px; }
    </style>
</head>
<body>

<div class="box">
    <h2>Register</h2>

    <form method="POST">
        <label>Select Role</label>
        <select name="role" required>
            <option value="admin">Admin</option>
            <option value="doctor">Doctor</option>
            
        </select>

        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
